<!-- include "../_nav.php"; -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Import and Export Products</h1>
    <p>You can upload your products in bulk from a CSV or XLS file. You can add multiple products with minimal effort.</p>

    <h2>Import File Requirements </h2>
    <p>While preparing your CSV or XLS file for import, ensure that your column headers match the headers given below.</p>

    <table>
        <thead>
            <tr>
                <th>CSV Column Header</th>
                <th>Definition</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Product Name</td>
                <td>Enter the product's title</td>
            </tr>
            <tr>
                <td>Product Name</td>
                <td>Enter the product's title</td>
            </tr>
            <tr>
                <td>Product Name</td>
                <td>Enter the product's title</td>
            </tr>
            <tr>
                <td>Product Name</td>
                <td>Enter the product's title</td>
            </tr>
            <tr>
                <td>Product Name</td>
                <td>Enter the product's title</td>
            </tr>
            <tr>
                <td>Product Name</td>
                <td>Enter the product's title</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
<!-- include "../_footer.php"; -->